.graphics-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.graphic-item {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: hsla(var(--accent) / 0.1);
    color: hsl(var(--accent));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: -160px;
    animation: floatUp 25s infinite linear;
    animation-delay: calc(-1s * var(--i));
}
  
.graphic-item:nth-child(even) {
    background-color: hsla(var(--primary) / 0.1);
    color: hsl(var(--primary));
}
  
@keyframes floatUp {
    0% {
        transform: translateY(0) translateX(calc(100vw / 20 * (var(--i) - 10))) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-120vh) translateX(calc(100vw / 20 * (var(--i) - 10) + 50px)) scale(0.5);
        opacity: 0;
    }
}
  