@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-up-fade-in {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-card {
    animation: slide-up-fade-in 0.8s ease-out forwards;
  }
}
